<h3>New School Class Form</h3>

<%= form_for @schoolclass do |f| %>
  <label>Title:</label><br>
  <%= f.text_field :title %><br>

  <label>Room number:</label><br>
  <%= f.text_area :room_number %><br>

  <%= f.submit %>
<% end %> 